# build files
build/*

# environment files
.env
.env.development

# db file
*.db
marcom.db

# data files (in future, used to store files sent by user)
user-files/**

# air (hot reload eh) used directory
tmp/**

